<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>JOB TRACKER</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <nav>
    <h1 class="logo"><a href="/">JOB<span>TRACKER</span></a></h1>
    <ul>
      <% if (user) { %>
        <div class="pp">
          <li class="profile-user"><a href="/user-profile">
              My Profile </a>
          </li>
        </div>
        <div class="circle-2">
          <li class="circle">
            <a href="/user-profile" class="userprofile">
              <%= user.firstname.slice(0, 1).toUpperCase() %>
            </a>
          </li>
        </div>

        <% } else { %>
          <!-- <li><a href="/login">Log in</a></li>
          <li><a href="/signup" class="btn">Sign up</a></li> -->
          <% } %>
    </ul>
  </nav>


  <!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
      let profile = document.querySelector('.userprofile');
      let letter = profile.textContent.trim().slice(0, 1).toUpperCase();
      return letter;
      console.log(letter);
    });
  </script> -->

  <!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
      let profile = document.querySelector('.userprofile');
      let letter = profile.textContent.trim().slice(0, 1).toUpperCase();
      console.log(letter);
    });
  </script> -->

  <script>


    const circle = document.querySelector('.circle-2');
    circle.addEventListener('click', () => {
      location.href = '/user-profile';
    });
  </script>