<%- include('partials/header'); -%>
    <div class="download-image">
        <a href="/user-profile" class="arrow-link">&larr;</a>
        <form method="POST" action="/upload" enctype="multipart/form-data" class="form-login2">
            <div class="upload-picture">
                <label>Upload profile picture</label>
                <input type="file" name="profile-file" required />
            </div>
            <div class="btn-submit">
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <%- include('partials/footer'); -%>