<%- include('partials/header'); -%>

  <% if (user) { %>
    <header>
      <!-- <div class="smoothie">
        <img src="<%= user.profilpicture %>" alt="">
      </div> -->
      <div class="headings">
        <div class="btn-btn">
          <a href="/list-jobs" class="btnlog">List Jobs</a>
          <a href="/create-job" class="btnlog">Create a job</a>
        </div>
      </div>
    </header>
    <% } else { %>
      <div class="headings">
        <div class="btn-btn">
          <a href="/login" class="btnlog">Log in</a>
          <a href="/signup" class="btnlog">Sign up</a>
        </div>
      </div>
      <% } %>

        <%- include('partials/footer'); -%>

          <script>


            const circle = document.querySelector('.circle-2');
            circle.addEventListener('click', () => {
              location.href = '/user-profile';
            });
          </script>