@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #030609;
  position: relative;

}

.PP {
  width: 45px;
  border-radius: 10px;
  border: 1px solid transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
}


img {
  width: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.logo a {
  color: #265faa;
}

.logo span {
  color: #fff;
  font-weight: 300;
}

.logout {
  background-color: #265faa;
  padding: 10px 20px;
  border-radius: 10px;
}

.userprofile {
  color: #265faa;
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 40px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
}


.headings {
  height: 65vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headings .btnlog {
  margin-top: 20px;
  width: 140px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #265faa;
  color: white;
  font-weight: 300;
  font-size: 25px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnlog:hover {
  background-color: #549eff;
  ;
}

.headings .sig {
  margin-left: 20px;
}

.form-card {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-card .log {
  display: flex;
  width: 275px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.form-card .login1 {
  font-weight: 300;
  padding: 10px 0px;
  border-bottom: 2px solid #265faa;
  color: #265faa;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-card .signup1 {
  font-weight: 300;
  padding: 10px 0px;
  border-bottom: 2px solid #265faa2d;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card .signup1:hover {
  cursor: pointer;
  border-bottom: 2px solid #1e92ff;
  color: #1e92ff;
}

.form-login {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 40px;
  border-radius: 20px;
}

.email {
  font-weight: 300;
  margin-bottom: 0px;
  color: transparent;
}

.email-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #265faa;
  padding: 10px 0px;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 30px;
  width: 270px;
}

.email-input:placeholder-shown {
  color: #265faa;
}

.password {
  font-weight: 300;
  margin-bottom: 0px;
  color: transparent;
}

.password-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #265faa;
  padding: 10px 0px;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 30px;
  width: 270px;
}

.password-input:placeholder-shown {
  color: #265faa;
}

.btn-login-push {
  margin-top: 20px;
  width: 275px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #265faa;
  color: white;
  font-weight: 300;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login-push:hover {
  background-color: #549eff;
}


.notregistered {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

.notregistered a {
  transform: translateY(-10px);
  color: #265faa;
  text-decoration: underline;
}

.notregistered a:hover {
  color: #549eff;
}