body {
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: $bg-color;
  position: relative;
  font-size: 16px;
  
  @include phone-portrait {
    font-size: 16px;
    min-height: 100vh;
  }
  
  @include phone-landscape {
    font-size: 16px;
    min-height: 100vh;
  }
  
  @include tablet-portrait {
    font-size: 16px;
    min-height: 100vh;
  }
  
  @include tablet-landscape {
    font-size: 16px;
    min-height: 100vh;
  }
  
  @include desktop {
    font-size: 16px;
    min-height: 100vh;
  }
}