.headings{
    width: 100vw;
    padding: 0 40px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(mobile) {
        height: 80vh;
      }
    .btn-btn{
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 35px;
        .btnlog{
            
            background-color: $blue;
            border-radius: 8px;
            font-weight: 300;
            font-size: 17px;
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btnlog:hover{
            background-color: $bluehover;
            color: $white;
            cursor: pointer;
        }
    }
}


//login form & signup form

.form-card{
    height: 70vh;
    width: 100vw;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    @include responsive(mobile) {
        height: auto;
        margin-top: 40px;
        width: 100vw;
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

      }
    .arrow-link{
        position:absolute;
        left: 50px;
        font-size: 20px;
        border-radius: 50px;
        padding:  2px 6px 5px;
        border: 2px solid white;
    }
    .form-square{
        // height: 500px;
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .log{
            width: 270px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-bottom: 40px;
            .login1{
                margin-bottom: 70px;
                font-weight: 700;
                font-size: 30px;
                color: $blue;
            }
         
            .signup1{
                font-weight: 300;
                font-size: 20px;
                padding-bottom: 5px;
                color: rgba(255, 255, 255, 0.692);
                border-bottom: 1px solid rgba(255, 255, 255, 0.351);
            }
            .signup1:hover{
                color: $bluehover;
                border-bottom: 1px solid $bluehover;
                cursor: pointer;
            }
            
        }
        .form-login{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            label{
                color: transparent;
            }
            input{
                width: 270px;
                height: 50px;
                background-color: transparent;
                border: transparent;
                // border-bottom: 1px solid $blue;
                border: .0625rem solid $blue;
                border-radius: 5px;
                padding: 0  10px;   
                outline: none;
                color: white;
                font-size: 17px;
             }
             input:focus{
                border: 1px solid $bluehover;
             }
             input:placeholder-shown{
                color: $blue;
                font-size: 17px;
                font-weight: 300;
             }
             @include responsive(mobile) {
                input::placeholder {
                  font-size: 17px;
                  font-weight: 300;
                  -webkit-text-fill-color: $blue !important;
                  color: $blue !important;
                }
                       
                }
             .password-input{
                margin-bottom: 40px;
             }
             .btn-login-push{
                width: 270px;
                height: 50px;
                background-color: $blue;
                border-radius: 5px;
                font-weight: 300;
                font-size: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                cursor: pointer;
                border: transparent;
                margin-bottom: 20px;
             }
                .btn-login-push:hover{
                    background-color: $bluehover;
                    cursor: pointer;
                }
                .notregistered{
                    font-weight: 300;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    margin-bottom: 20px;
                    a{
                        color: $blue;
                        text-decoration: underline;
                    }
                    a:hover{
                        color: $bluehover;
                        cursor: pointer;
                    }
                }
            }
        .form-login1{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                label{
                    color: transparent;
                }
                input{
                    width: 270px;
                    height: 45px;
                    background-color: transparent;
                    border: transparent;
                    // border-bottom: 1px solid $blue;
                    border: .0625rem solid $blue;
                    border-radius: 5px;
                    padding: 0  10px;   
                    outline: none;
                    color: white;
                 }
                 input:focus{
                    border: 1px solid $bluehover;
                 }
                 input:placeholder-shown{
                    color: $blue;
                    font-size: 17px;
                    font-weight: 300;
                 }
                 @include responsive(mobile) {
                    input::placeholder {
                      font-size: 17px;
                      font-weight: 300;
                      -webkit-text-fill-color: $blue !important;
                      color: $blue !important;
                    }
                }
               
                 .password-input1{
                    margin-bottom: 20px;
                 }
                 .btn-login-push{
                    width: 270px;
                    height: 50px;
                    background-color: $blue;
                    border-radius: 5px;
                    font-weight: 300;
                    font-size: 19px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    cursor: pointer;
                    border: transparent;
                    margin-bottom: 20px;
                 }
                .btn-login-push:hover{
                        background-color: $bluehover;
                        cursor: pointer;
                    }
                .notregistered{
                        font-weight: 300;
                        font-size: 16px;
                        color: rgb(255, 255, 255);
                        margin-bottom: 20px;
                        a{
                            color: $blue;
                            text-decoration: underline;
                        }
                        a:hover{
                            color: $bluehover;
                            cursor: pointer;
                        }
                    }
                }
        }
    }
    

    // user profile

.user-profile{

    .arrow-link{
        position:absolute;
        transform: translateY(-10px);
        left: 50px;
        top: 50%;
        font-size: 20px;
        border-radius: 50px;
        padding:  2px 6px 5px;
        border: 2px solid white;
    }
    .card-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        width: 100vw;
        height: 60vh;
        padding: 0 40px;
        // background-color: #215bc020;
        border-radius: 20px;
        // border: 2px solid $blue;
        // box-shadow: 8px 5px 17px rgba(0, 0, 0, 0.22);
     .glob-infos{
        width: 860px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
      

         .infos{
            width: 100%;
            height: 109%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            background-color: #215bc020;
            border-radius: 20px;
            border: 1px solid $blue;
            box-shadow: 8px 5px 17px rgba(0, 0, 0, 0.22);
            padding: 20px;
            position: relative;
            .usr{
                h1{
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: #4ca2ff;
                    margin-bottom: 10px;
                    letter-spacing: 0.5px;
                    padding: 10px 30px;
                    border: 0.0625rem solid #0a56a7;
                    border-radius: 5px;
                    text-align: center;
                }
            }
            
            p{
                font-size: 16px;
                font-weight: 100;
                color: rgb(255, 255, 255);
                margin-bottom: 5px;
                span{
                    font-weight: 300;
                    color: $bluehover;
                    a{
                        font-size: 16px;
                        font-weight: 300;
                    color: $bluehover;
                    }
                }
            }
            h2{
                position: absolute;
                bottom: 50px;
                right: 42%;
                .update-btn{     
                    font-size: 16px;
                    font-weight: 300;
                    color: $white;
                    background-color: #1c41b1;
                    padding: 11px 18px;
                    border-radius: 5px;
                }
                .update-btn:hover{
                    background-color: #2b59e2;
                    color: white;
                    cursor: pointer;
                }
                .add-btn{
                    font-size: 16px;
                    font-weight: 300;
                    color: $white;
                    background-color: $blue2;
                    padding: 5px 15px;
                    border-radius: 3px;
                }
                .add-btn:hover{
                    background-color: $bluehover;
                    cursor: pointer;
                }
            }

         }
     }
     .btn-btm{
        transform: translateY(50px);
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top : 20px;
        gap: 70px;
        .btn-push{
            width: 125px
        }
        li{
            list-style: none;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: rgba(20, 44, 75, 0.712);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
        li:hover{
            background-color: rgba(24, 61, 109, 0.712);
            cursor: pointer;
        }
        button{
            list-style: none;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #d63c3c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            border: transparent;
            color: white;
        }
        button:hover{
            background-color: #ff6a6a;
            cursor: pointer;
        }
     }

        
    }

}    


.download-image{
   width: 100vw;
   padding: 0 40px;
   height: 65vh;
   display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    .arrow-link{
        position:absolute;
        transform: translateY(-10px);
        left: 50px;
        top: 50%;
        font-size: 20px;
        border-radius: 50px;
        padding:  2px 6px 5px;
        border: 2px solid white;
    }
    .form-login2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .upload-picture{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
            label{
                color: $blue;
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 50px;
                text-transform: uppercase;
            }
            input{
                width: 300px;
                height: 25px;
                background-color: transparent;
                border: transparent;
                // border-bottom: 1px solid $blue;
                border: .0625rem solid $blue;
                border-radius: 5px; 
                outline: none;
                color: white;
             }
            }
            .btn-submit{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 50px;
                input{
                    width: 300px;
                height: 50px;
                background-color: $blue;
                border-radius: 5px;
                font-weight: 300;
                font-size: 19px;
                padding: 10 20px;
                border: transparent;
                color: $white;
                }
                input:hover{
                    background-color: $bluehover;
                    cursor: pointer;
                }
            }
        }
    }


// form create job

.form-create{
    transform: translateY(10px);
    width: 100vw;
    padding: 0 40px;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .arrow-link{
        position:absolute;
        transform: translateY(-10px);
        left: 50px;
        top: 50%;
        font-size: 20px;
        border-radius: 50px;
        padding:  2px 6px 5px;
        border: 2px solid white;
    }
    h3{
        text-align: center;
        width: 270px;
        font-size: 20px;
        font-weight: 100;
        color: $white;
        padding: 10px 0px;
        border: 1px solid rgba(255, 255, 255, 0);
        background-color:rgba(63, 140, 255, 0.165) ;
        border-radius: 5px;
        text-transform: uppercase;
        
    }
    .info-job{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 80vw;
        height: 60vh;
        .info1{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 300px;
            label{
                color: transparent;            
            }
            input{
                width: 270px;
                height: 50px;
                background-color: transparent;
                border: transparent;
                // border-bottom: 1px solid $blue;
                border: .0625rem solid $blue;
                border-radius: 5px;
                padding: 0  10px;   
                outline: none;
                color: white;
             }
             input:focus{
                border: 1px solid $bluehover;
             }
             input:placeholder-shown{
                color: $blue;
                font-size: 17px;
                font-weight: 300;
             }
        }
        .info2{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 300px;
           
            label{
                color: transparent;            
            }
            input{
                width: 270px;
                height: 50px;
                background-color: transparent;
                border: transparent;
                // border-bottom: 1px solid $blue;
                border: .0625rem solid $blue;
                border-radius: 5px;
                padding: 0  10px;   
                outline: none;
                color: white;
             }
             input:focus{
                border: 1px solid $bluehover;
             }
             input:placeholder-shown{
                color: $blue;
                font-size: 17px;
                font-weight: 300;
             }
        }
        .info3{
            display: flex;
            flex-direction: column;
            width: 300px;
            label{
                color: transparent;            
            }
            select{
                width: 270px;
                height: 50px;
                background-color: transparent;
                border: transparent;
                // border-bottom: 1px solid $blue;
                border: .0625rem solid $blue;
                border-radius: 5px;
                padding: 0  10px;   
                outline: none;
                color: #1385ffca;;
                font-size: 16px;
                font-weight: 300;

             }
             select:focus{
                border: 1px solid $bluehover;
             }
             
             input:placeholder-shown{
                color: $blue;
                font-size: 17px;
                font-weight: 300;
             }
             #comments{
                width: 270px;
                border: 1px solid $blue;
                border-radius: 5px;
                background-color: #03050c;
                color: white;
                padding: 10px;
                font-size: 13px;
             }
             #comments:focus{
                border: 1px solid $bluehover;
                outline: none;
             }

             #comments:placeholder-shown{
                color: $blue;
                font-weight: 300;
                font-size: 13px;
             }
        }
    }




    .btn-submit{
        position: absolute;
        bottom: 90px;
        button{
            width: 270px;
            height: 50px;
            background-color: $blue;
            border-radius: 5px;
            font-weight: 300;
            font-size: 19px;
            padding: 10 20px;
            border: transparent;
            color: $white;
        }
        button:hover{
            background-color: $bluehover;
            cursor: pointer;
        }
    }
}



//list-jobs
.list-jobs{
    width: 100vw;
    padding: 0 40px;

.filtres{
    display: flex;
    justify-content: center;
    .form-filtre{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 200px;
        label{
            color: transparent;
            font-size: 8px;
        }
        select{
            width: 270px;
            height: 30px;
            background-color: transparent;
            border: transparent;
            // border-bottom: 1px solid $blue;
            border: .0625rem solid $blue;
            border-radius: 5px;
            padding: 0  10px;   
            outline: none;
            color: #1385ffca;;
            font-size: 15px;
            font-weight: 300;

         }
         select:focus{
            border: 1px solid $bluehover;
         }
         button{
            margin-top: 10px;
            width: 270px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $blue;
            border-radius: 5px;
            font-weight: 100;
            font-size: 15px;
            padding: 10 20px;
            border: transparent;
            color: $white;
         }
         button:hover{
            background-color: $bluehover;
            cursor: pointer;
    }
}
}
}

.jobs{

    width: 100vw;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0 20px;
    flex-direction: column;
    width: 1140px;
    position: relative;
   .create-ajob{    
    position: absolute;
    top: -150px;
    right: 0;
    font-size: 14px;
    padding: 10 20px;
    border-radius: 5px;
    background-color: rgb(25, 194, 34) ;
    color: $white;
   }
   .create-ajob:hover{
    background-color: rgba(123, 255, 130, 0.8);
    cursor: pointer;
   }
.job-ul{
    display: flex;
    justify-content: start;
    align-items: center;
column-gap: 60px;
row-gap: 25px;
flex-wrap: wrap;
    .job{
        width: 230px;
        height: 180px;
        padding: 30px;
        background-color: #215bc020;
        color: $white;
        border-radius: 10px;
        border: 1px solid $blue;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 23px;
            font-weight: 500;
            a{
                color: rgb(53, 147, 255);
            }
        } 
        h3{
            font-size: 16px;
            font-weight: 300;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            color: rgb(77, 145, 255);
           font-style: italic;
           margin-bottom: 10px;
        }
        .edit{
            background-color:  rgb(53, 147, 255);
            font-size: 16px;
            font-weight: 300;
            border-radius: 5px;
            margin-bottom: 5px;
            text-align: center;
        }
        .edit:hover{
            background-color:  rgb(122, 183, 252);
            cursor: pointer;
        }
        .delete{
            background-color: #ff3c3c;
            font-size: 15px;
            font-weight: 300;
            border-radius: 5px;
            border: transparent;
            color: white;
        }
        .delete:hover{
            background-color: #ff6767;
            cursor: pointer;
        }
    }
}
}
}

// job details

.section-detail {
    width: 100vw;
    padding: 0 40px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .arrow-link{
        position:absolute;
        transform: translateY(-10px);
        left: 50px;
        top: 50%;
        font-size: 20px;
        border-radius: 50px;
        padding:  2px 6px 5px;
        border: 2px solid white;
    }
    .detail{
        width: 70%;
        height: 90%;
        background-color: #215bc00f;
        border-radius: 20px;
        border: 2px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 8px 5px 17px rgba(0, 0, 0, 0.22);
        .card{
            width: 720px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            .infos1{
                h2{
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: $bluehover;
                    margin-bottom: 10px;
                    letter-spacing: 0.5px;
                    padding: 10px 30px;
                    border: .0625rem solid $blue;
                    border-radius: 5px;
                    text-align: center;
                }
               
                h3{
                    font-size: 2rem;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 20px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    span{
                        font-weight: 100;
    
                    }
                }
            }
           .infos{
            width: 300px;
            p{
                font-size: 0.85rem;
                font-weight: 100;
                color: $bluehover;
                // margin-bottom: 10px;
                letter-spacing: 0.5px;
                padding: 0 0px 10px ;
                font-weight: 300;
                // border-bottom: .0625rem solid $blue;
                span{
                    font-weight: 100;
                    color: white;
                }
            }
           }
            
        }
        .update{
            padding: 10px 20px;
            border-radius: 5px;
            background-color: $blue2;
            color: $white;
            font-size: 1rem;
            font-weight: 300;
        }
    }
}