body {
    overflow-x: hidden;
}

@include desktop {
    .form-container {
        width: 100vw;
        height: 83vh;
        padding: 0 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .back{
            display: none
        }
        .arrow-link{
            position: absolute;
            left: 43px;
            top: 45%;
            width: 50px;
            height: 50px;
            font-size: 25px;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            line-height: 45px;
        }
        .arrow-link:hover{
            border: 1px solid $bluehover ;
            color: $bluehover;
        }
        .create-job{
            font-size: 1.7rem;
            font-weight: 500;
            text-transform: uppercase;
            padding: 20px 20px;
            color: $white;
        }
        .desktop-h3{
            position: absolute;
            top : 163px;
            font-weight: 300;
            color: $bluehover;
            border-bottom: 1px solid $bluehover;
        }
        .form-create-job{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 1000px;
            height: 70vh;
            // gap: 70px;
            h3 {
               display: none;
            }
            .job-description{
                width: 300px;
                height: 290px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 250px;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-detail{
                width: 300px;
                height: 290px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 250px;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-more-detail{
                width: 300px;
                height: 290px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
               select{
                    width: 250px;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    color: $blue;
                    font-size: 1rem;
                    font-weight: 100;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                        color: $bluehover;
                        -webkit-text-fill-color: $blue;
                    }
                    &::placeholder{
                        color: $bluehover;
                        font-size: 1.1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                        
                    }
                
               }
               textarea{
                    width: 250px;
                    height: 115px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 10px;
                    background-color: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: $font;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
               
               }
            }
            .btn-submit{
                position: absolute;
                bottom: 110px;
                button {
                    width: 250px;
                    height: 50px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $bluehover;
                    }
                }
               
            }

        }
    }
}
@include phone-portrait {
    .form-container {
        width: 100vw;
        padding: 20px 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .back{
            margin-top: 10px;
            margin-bottom: 50px ;
            width: 25vw;
            height: 50px ;
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back:hover{
            background-color: $bluehover;
        }
        .arrow-link{
          display: none;
        }
        .create-job{
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 3px;
            color: $white;
            margin-bottom: 20px;
        }
        .desktop-h3{
        display: none;
        }
        .form-create-job{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 1000px;
            // gap: 70px;
            h3 {
               color: $bluehover;
                font-weight: 300;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            .job-description{
                width: 70vw;
                height: 205px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 70vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-detail{
                width: 70vw;
                height: 251px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 70vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-more-detail{
                width: 70vw;
                height: 256px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
               select{
                    width: 70vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    color: $blue;
                    font-size: 1rem;
                    font-weight: 100;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                        color: $bluehover;
                        -webkit-text-fill-color: $blue;
                    }
                    &::placeholder{
                        color: $bluehover;
                        font-size: 1.1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                        
                    }
                
               }
               textarea{
                    width: 70vw;
                    height: 115px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 10px;
                    background-color: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: $font;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
               
               }
            }
            .btn-submit{
                button {
                    width: 250px;
                    height: 50px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $bluehover;
                    }
                }
               
            }

        }
    }
}
@include phone-landscape {
    .form-container {
        width: 100vw;
        padding: 20px 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .back{
            margin-top: 10px;
            margin-bottom: 50px ;
            width: 25vw;
            height: 50px ;
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back:hover{
            background-color: $bluehover;
        }
        .arrow-link{
          display: none;
        }
        .create-job{
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 3px;
            color: $white;
            margin-bottom: 20px;
        }
        .desktop-h3{
        display: none;
        }
        .form-create-job{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 1000px;
            // gap: 70px;
            h3 {
               color: $bluehover;
                font-weight: 300;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            .job-description{
                width: 70vw;
                height: 205px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-detail{
                width: 70vw;
                height: 251px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-more-detail{
                width: 70vw;
                height: 256px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
               select{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    color: $blue;
                    font-size: 1rem;
                    font-weight: 100;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                        color: $bluehover;
                        -webkit-text-fill-color: $blue;
                    }
                    &::placeholder{
                        color: $bluehover;
                        font-size: 1.1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                        
                    }
                
               }
               textarea{
                    width: 50vw;
                    height: 115px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 10px;
                    background-color: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: $font;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
               
               }
            }
            .btn-submit{
                button {
                    width: 50vw;
                    height: 50px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $bluehover;
                    }
                }
               
            }

        }
    }
}

@include tablet-portrait {
    .form-container {
        width: 100vw;
        padding: 20px 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .back{
            margin-top: 10px;
            margin-bottom: 50px ;
            width: 25vw;
            height: 50px ;
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back:hover{
            background-color: $bluehover;
        }
        .arrow-link{
          display: none;
        }
        .create-job{
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 3px;
            color: $white;
            margin-bottom: 20px;
        }
        .desktop-h3{
        display: none;
        }
        .form-create-job{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 1000px;
            // gap: 70px;
            h3 {
               color: $bluehover;
                font-weight: 300;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            .job-description{
                width: 70vw;
                height: 205px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-detail{
                width: 70vw;
                height: 251px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-more-detail{
                width: 70vw;
                height: 256px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
               select{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    color: $blue;
                    font-size: 1rem;
                    font-weight: 100;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                        color: $bluehover;
                        -webkit-text-fill-color: $blue;
                    }
                    &::placeholder{
                        color: $bluehover;
                        font-size: 1.1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                        
                    }
                
               }
               textarea{
                    width: 50vw;
                    height: 115px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 10px;
                    background-color: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: $font;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
               
               }
            }
            .btn-submit{
                button {
                    width: 50vw;
                    height: 50px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $bluehover;
                    }
                }
               
            }

        }
    }
}
@include tablet-landscape {
    .form-container {
        width: 100vw;
        padding: 20px 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .back{
            margin-top: 10px;
            margin-bottom: 50px ;
            width: 25vw;
            height: 50px ;
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back:hover{
            background-color: $bluehover;
        }
        .arrow-link{
          display: none;
        }
        .create-job{
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 3px;
            color: $white;
            margin-bottom: 20px;
        }
        .desktop-h3{
        display: none;
        }
        .form-create-job{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 1000px;
            // gap: 70px;
            h3 {
               color: $bluehover;
                font-weight: 300;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            .job-description{
                width: 70vw;
                height: 205px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-detail{
                width: 70vw;
                height: 251px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
                input{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $white;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
                }
            }
            .job-more-detail{
                width: 70vw;
                height: 256px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap : 5px;
               select{
                    width: 50vw;
                    height: 50px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 0 10px;
                    background-color: transparent;
                    color: $blue;
                    font-size: 1rem;
                    font-weight: 100;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                        color: $bluehover;
                        -webkit-text-fill-color: $blue;
                    }
                    &::placeholder{
                        color: $bluehover;
                        font-size: 1.1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                        
                    }
                
               }
               textarea{
                    width: 50vw;
                    height: 115px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    padding: 10px;
                    background-color: transparent;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    font-family: $font;
                    &:focus{
                        border: 1px solid $bluehover;
                        outline: none;
                    }
                    &::placeholder{
                        color: $blue;
                        font-size: 1rem;
                        font-weight: 300;
                        -webkit-text-fill-color: $blue;
                    }
               
               }
            }
            .btn-submit{
                button {
                    width: 50vw;
                    height: 50px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $bluehover;
                    }
                }
               
            }

        }
    }
}
.footer-create-job{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: start;
    justify-content: center;
    div{
        font-size: 0.8rem;
        font-weight: 100;
    }
    @include phone-portrait {
        margin-top: 50px;
        align-items: center;
    }
    @include phone-landscape {
        margin-top: 50px;
        align-items: center;
    }
    @include tablet-portrait {
        margin-top: 50px;
        align-items: center;
    }
    @include tablet-landscape {
        margin-top: 50px;
        align-items: center;
    }
}